window {
    background-color: #07070a;
    font-size: 16px;
    border-radius: 10px;
}

#input {
    padding: 5px 10px;
    background-color: #2b303a;
    margin-bottom: 12px;
    color: #fff;
}

#inner-box {
    padding: 5px;
    background-color: #070707;
    border-radius: 10px;
}

#outer-box {
    padding: 10px;
    background-color: #24272b;
    border-radius: 10px;
}

#scroll {
}

#text {
    color: #dedbdb;
    transition: color 0.3s;
    margin-left: 10px;
}

#entry {
    color: #dedbdb;
    background-color: #24272b;
    padding: 12px 10px;
    border-radius: 5px;

    margin-bottom: 5px;
}

#entry:selected {
    border: 1px solid #3e78b2;
}

#text:selected {
    color: #edeaea;
}
